.embla {
  margin: auto;
  height: 413px;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 70%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__slide__number {
  height: 413px;
  border: 0.2rem solid var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  overflow: hidden;
  background: #e2e8f0;
}

.embla__slide__link {
  display: block;
  width: 100%;
  height: 100%;
}

.embla__slide__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.embla__controls {
  margin-top: 1.8rem;
}

.embla__buttons {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
  align-items: center;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  border: 0.2rem solid var(--detail-medium-contrast);
  width: 1.6rem;
  height: 1.6rem;

  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg);
}

.embla__button--disabled {
  color: var(--detail-high-contrast);
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.embla__dot {
  -webkit-tap-highlight-color: #e2e8f0;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2rem;
  height: 1.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
}

.embla__dot:before,
.embla__dot:after {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 24px;
  position: absolute;
  display: flex;
  align-items: center;
  content: '';
  transition: width 0.3s ease-in, background 0.3s ease-in;
}

.embla__dot:before {
  background-color: #e2e8f0;
}

.embla__dot:after {
  background-color: #e2e8f0;
}

.embla__dot--selected:after {
  opacity: 1;
  background-color: #1c4984;
  width: 1.6rem;
  border-radius: 24px;
}